@import "tailwindcss";
@import 'react-tooltip/dist/react-tooltip.css';

body,
#root {
  min-width: 100svw;
  min-height: 100svh;

  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: var(--color-dark-beige);

  font-family: "accid";
  letter-spacing: 0.12rem;
}

#root {
  align-items: start;
  padding-bottom: 2rem;
}

@font-face {
  font-family: 'accid';
  src: url('/font/accid___.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  cursor: url('/cursor/cursor.png'), auto;
}

@theme static {
  --font-accid: "accid", sans-serif;

  --breakpoint-xs: 23.438rem;

  --color-light-beige: rgb(255, 238, 213);
  --color-light-beige-alternative: rgb(180, 129, 65);
  --color-greyed-out-beige: rgb(178, 167, 149);
  --color-medium-beige: rgb(213, 170, 115);
  --color-dark-beige: rgb(128, 89, 49);
  --color-dark-beige-alternative: rgb(106, 68, 32);

  --color-light-green: rgb(90, 117, 90);
  --color-dark-green: rgb(63, 82, 63);

  --color-medium-yellow: rgb(156, 145, 74);
  --color-dark-yellow: rgba(109, 102, 52);

  --color-quality-normal: rgb(213, 170, 115);
  --color-quality-shining: rgb(213, 170, 115);
  --color-quality-glistening: rgb(164, 157, 156);
  --color-quality-opulent: rgb(0, 133, 131);
  --color-quality-radiant: rgb(230, 157, 0);
  --color-quality-alpha: rgb(205, 4, 98);

  --color-quality-normal-text: var(--color-dark-beige);
  --color-quality-shining-text: var(--color-dark-beige);
  --color-quality-glistening-text: rgb(164, 157, 156);
  --color-quality-opulent-text: rgb(0, 133, 131);
  --color-quality-radiant-text: rgb(169, 134, 0);
  --color-quality-alpha-text: rgb(205, 4, 98);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .render-pixelated {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(-360deg);
  }
}

.rotate-animation {
  animation: rotate 6s linear infinite;
}
